extends ../common/layout

block layout-content
    //- Edit user form
    .container.mt-5
        .row.justify-content-center
            .col-md-6
                .card
                    .card-header.bg-dark.text-white
                        h2.card-title.mb-0 Edit User

                    .card-body
                        if err
                            .alert.alert-danger= err

                        form(method="POST", action=`/admin/users/edit/${user._id}`)
                            .mb-3
                                label.form-label(for="oldUsername") Current Username
                                input.form-control(
                                    type="text",
                                    id="oldUsername",
                                    name="oldUsername",
                                    value=user.user,
                                    disabled
                                )
                                input(type="hidden", name="oldUsername", value=user.user)

                            .mb-3
                                label.form-label(for="newUsername") New Username
                                input.form-control(
                                    type="text",
                                    id="newUsername",
                                    name="newUsername",
                                    placeholder="Enter new username",
                                    value=user.user,
                                    required
                                )
                            .mb-3
                                label.form-label(for="newNickName") New nickName
                                input.form-control(
                                    type="text",
                                    id="newNickName",
                                    name="newNickName",
                                    placeholder="Enter new NickName",
                                    value=user.nickname,
                                    
                                )
                            .mb-3
                                label.form-label(for="firstName") First Name
                                input.form-control(
                                    type="text",
                                    id="firstName",
                                    name="firstName",
                                    placeholder="Enter first name",
                                    value=user.firstName,
                                    required
                                )
                            .mb-3
                                label.form-label(for="lastName") Last Name
                                input.form-control(
                                    type="text",
                                    id="lastName",
                                    name="lastName",
                                    placeholder="Enter last name",
                                    value=user.lastName,
                                    required
                                )

                            .mb-3
                                label.form-label(for="role") Role
                                select.form-select(
                                    id="role",
                                    name="role",
                                    required
                                )
                                    each item in availableRoles
                                        option(
                                            value=item,
                                            selected=user.role === item
                                        )= item.charAt(0).toUpperCase() + item.slice(1)

                            .d-flex.gap-2
                                button.btn.btn-dark(type="submit") Update User
                                a.btn.btn-outline-dark(href="/admin/users") Cancel
